body {
 color: black;
 font-size: 1em /* 16px */;
 margin: 0 auto;
 width: 80% /* 900px */;
}

p {
font-family: 'Handlee', cursive;
color: black;
}

header {
 background: #56A5EC;
} 

footer {
background: #56A5EC;
clear: both;
}

h1 {
 text-shadow: 2px 2px 20px #111;
 font-size: 2.45em /* 40px */;
 font-family: 'Ruluko', sans-serif;
 color: white;
}

h2 {
 color: white;
 text-shadow: 2px 2px 20px #111;
 font-size: 2em /* 32px */;
 font-family: 'Loved by the King', cursive;
 line-height: 0.5;
}

h3 {
 text-shadow: 2px 2px 20px #111;
 font-size: 1.25em /* 20px */;
 font-family: 'Loved by the King', cursive;
 color: white;
 padding: 3px;
}

ol {
 font-size: 1em /* 16px */;
}

ul {
 padding: 5px;
 line-height: 1.5;
 list-style-type: none;
 font-size: 1em /* 16px */
 color: black;
 overflow: hidden;
}

#wrapper {
 background-color: silver;
 border: 2px solid #333;
 border-radius: 0.625em /* 10px */;
 box-shadow: 2px 2px 2px #111;
 padding: 3px;
 width: 100% /* 900px */
}

#about {
 background-color: silver;
 padding: 3px;
}

#main {
 border-radius: 0.625em /* 10px */;
 padding: 5px; 
 float: right;
}

#gallery {
 float: left;
 margin: 0 auto;
 width: 73.783783% /* 273px / 370px */
}

article {
 background-color: #737CA1;
 font-family: 'Handlee', cursive;
 color: #EBDDE2;
}

a:link {
 color:#000;
}

a:visited {
 color:#000;
}

a:hover {
 color: white;
 background: #4E387E;
}

a:active {
 color: #05EDFF;
}

a {
 text-decoration: none;
 text-align: center;
}