body {
 color: black;
 font-size: 16px;
 margin: 0 auto;
 width: 900px;
}

p {
font-family: 'Handlee', cursive;
color: black;
}

header {
 background: #56A5EC;
} 

footer {
background: #56A5EC;
clear: both;
}

h1 {
 text-shadow: 2px 2px 20px #111;
 font-size: 40px;
 font-family: 'Ruluko', sans-serif;
 color: white;
}

h3 {
 text-shadow: 2px 2px 20px #111;
 font-size: 20px;
 font-family: 'Loved by the King', cursive;
 color: white;
 padding: 3px;
}

ol {
 font-size: 16px;
}

ul {
 list-style-type: circle;
 font-size: 16px;
 color: black;
}

#wrapper {
 background-color: silver;
 border: 2px solid #333;
 border-radius: 10px;
 box-shadow: 2px 2px 2px #111;
 padding: 3px;
}

#about {
 background-color: silver;
 padding: 3px;
}

#main {
 float: left;
 border-radius: 10px;
 padding: 5px;
}

#gallery {
 float: left;
}

article {
 background-color: #737CA1;
 font-family: 'Handlee', cursive;
 color: #EBDDE2;
 clear: left;
}

a:link {
 color:#000;
}

a:visited {
 color:#000;
}

a:hover {
 color: white;
 background: #4E387E;
}

a:active {
 color: #05EDFF;
}

a {
 text-decoration: none;
 text-align: center;
}